<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/board/boardMain.css">
		<link rel="stylesheet" href="/css/common.css">
	</head>
	<body>
		<h1>게시판</h1>
		<a href="/board/new">글쓰기</a>
		<table>
			<thead>
				<tr>
					<td>글번호</td>
					<td>제목</td>
					<td>조회수</td>
					<td>작성일</td>
				</tr>
			</thead>
			<tbody >
				<tr th:if="${#lists.isEmpty(list)}">
					<th colspan="4">게시글이 존재하지 않습니다.</th>
				</tr>
				<tr th:each="dto : ${list}">
					<td th:text="${dto.bno}">글번호data</td>
					<td>
						<a th:href="${'/board/' + dto.bno}" th:text="${dto.title}">제목data</a>
						<a th:href="|/board/${dto.bno}|" th:text="${dto.title}">제목data</a>
						<a th:href="@{ '/board/'+ ${dto.bno} }" th:text="${dto.title}">제목data</a>
					</td>
					<td >
						<span th:if="${dto.updatedDate.toLocalDate() eq #temporals.createToday()}" th:text="${#temporals.format(dto.updatedDate, 'HH : mm : ss')}">오늘인경우 시간만</span>
						<span th:unless="${dto.updatedDate.toLocalDate() eq #temporals.createToday()}" th:text="${dto.updatedDate.toLocalDate()}">오늘이 아니면 날짜만</span>
					</td>					
				</tr>
			</tbody>
		</table>
	</body>
</html>