<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nowon.mapper.BoardMapper">
	<insert id="save">
		insert into jihoon_board(title,content)
		values(#{title},#{content})
	</insert>
	<select id="findAll"  resultType="com.green.nowon.dto.BoardDTO">
		select * from jihoon_board order by bno desc
	</select>
</mapper>
